.todo-container {
    user-select: none;
    margin: 10px 0;
    min-height: 150px;
    height: 100%;
    display: block;
    background: rgba(255, 255, 0, 0.32);
    border: 1px solid #ccc;
    box-shadow: 1px 1px #aaa;
    padding: 10px;
}

.todo-container.completed {
    text-decoration: line-through;
    background-color: #ccc;
}

.todo-container .todo-content .content {
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-style: oblique;
    font-size: 23px;
}

.todo-container .todo-content .created-date {
    position: absolute;
    bottom: 10px;
}

.todo-container .btn-action {
    position: absolute;
    bottom: 30px;
    right: 15px;
}

.board {
    display: table;
}

.row {
    height: 120px;
    display: table-row;
}

.cell {
    display: table-cell;
    width: 120px;
    height: 120px;
    background: #EEF;
    border: 2px solid #aaa;
    font-size: 80px;
    text-align: center;
}

.cell.empty {
    background: #f1f1f1;
}

.cell.empty:hover {
    cursor: pointer;
    background: #d5d5d5;
}
.should-component-update-demo {
    position: relative;
}
.parent {
    color: #becc4d
}
.no-prop {
    color: #573ee3
}
.has-prop {
    color: #f30014
}
.should-component-update-demo .parent-comp {
    background: #becc4d;
    width: 450px;
    height: 400px;
    border: 1px dashed #222;
    padding: 10px;
}
.should-component-update-demo .child-no-props {
    background: #573ee3;
    width: 400px;
    height: 100px;
    border: 1px dashed #111;
    margin: 20px;
    padding: 10px;
}
.should-component-update-demo .child-props {
    background: #f30014;
    width: 400px;
    margin: 50px 10px;
    height: 100px;
    border: 0.5px dashed #111;
    padding: 10px;
}
.should-component-update-demo #console{
    position: relative;
    top: 0;
    left:0;
    max-height: 300px;
    overflow: auto;
}
.should-component-update-demo .console {
    position: absolute;
    top: 0;
    left: 600px;
}
.pointer {
    cursor: pointer;
}
.menu a, .block {
    display: block;
}
